@using Integracja.Server.Web.Models.PanelAdmina
@model PanelAdminaViewModel
<h1>Panel admina</h1>
<br />

<div class="col-md-10">
    @{ await Html.RenderPartialAsync("~/Views/PanelAdmina/CategoriesTable.cshtml", Model); }
</div>

<div class="col-md-10">
    @{ await Html.RenderPartialAsync("~/Views/PanelAdmina/QuestionsTable.cshtml", Model); }
</div>
