@using Integracja.Server.Web.Areas.Pytania.Models.Shared

<div class="container-fluid">
    <a asp-action="@nameof(IHomeNav.GotoOwnedQuestions)" class="btn btn-primary">Moje pytania</a>
    <a asp-action="@nameof(IHomeNav.GotoOwnedCategories)" class="btn btn-primary">Moje kategorie</a>
    <a asp-action="@nameof(IHomeNav.GotoAllQuestions)" class="btn btn-primary">Wszystkie pytania</a>
    <a asp-action="@nameof(IHomeNav.GotoQuestionCreate)" class="btn btn-primary">Stwórz nowe pytanie</a>
</div>
<br />
