@using Integracja.Server.Web.Areas.Pytania.Models.Shared

<div class="container-fluid">
    <a asp-action="@nameof(IHomeNav.MyQuestions)" class="btn btn-primary">Moje pytania</a>
    <a asp-action="@nameof(IHomeNav.MyCategories)" class="btn btn-primary">Moje kategorie</a>
    <a asp-action="@nameof(IHomeNav.AllQuestions)" class="btn btn-primary">Wszystkie pytania</a>
    <a asp-action="@nameof(IHomeNav.GotoQuestionCreate)" class="btn btn-primary">Stwórz nowe pytanie</a>
</div>
<br />
