@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Nie pamiętasz hasła?";
}

<div class="picture h-100">
    <div class="container h-100">
        <div class="d-flex flex-column justify-content-center h-100">
            <div class="logo">inte<span id="integration">GRA</span>cja</div>
            <div class="login d-flex flex-row justify-content-center">
                <div class="card">
                    <div class="card-header d-flex justify-content-center mt-2">
                        <h2>@ViewData["Title"]</h2>
                    </div>
                    <div class="card-body">
                        <form id="account" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="input-group form-group data">
                                <div class="input-group-prepend input-icon">
                                    <span class="input-group-text "><i class="fas fa-envelope"></i></span>
                                </div>
                                <input asp-for="Input.Email" class="form-control" placeholder="adres e-mail">
                            </div>
                            <div class="form-group d-flex justify-content-center mt-4 mb-2 button">
                                <input type="submit" value="Wyślij" class="btn btn-primary float-right log_in">
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            <a asp-page="./Login">Wróć do strony logowania</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
