@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/register.css" asp-append-version="true">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="container">
    <div class="d-flex flex-column justify-content-center h-100">
        <div class="logo">inte<span id="integration">GRA</span>cja</div>
        <div class="login d-flex flex-row justify-content-center">
            <div class="card">

                <div class="card-header d-flex justify-content-center mt-2">
                    <h2>Rejestracja</h2>
                </div>
                <div class="card-body">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="input-group form-group data">
                            <div class="input-group-prepend input-icon">
                                <span class="input-group-text "><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="Input.Username" class="form-control" placeholder="nazwa użytkownika">

                        </div>
                        <div class="input-group form-group data">
                            <div class="input-group-prepend input-icon">
                                <span class="input-group-text "><i class="fas fa-envelope"></i></span>
                            </div>
                            <input asp-for="Input.Email" class="form-control" placeholder="adres e-mail">

                        </div>
                        <div class="input-group form-group data">
                            <div class="input-group-prepend input-icon">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input asp-for="Input.Password" class="form-control" placeholder="hasło">
                        </div>
                        <div class="input-group form-group data">
                            <div class="input-group-prepend input-icon">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="powtórz hasło">
                        </div>
                        <div class="form-group d-flex justify-content-center mt-4 button">
                            <input type="submit" value="Zarejestruj się" class="btn btn-primary float-right log_in">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
