.historia {
    background: #fff;
    border: 1px solid #F0F0F0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

p {
    color: #777777;
}

.title {
    font-size: 2.4em;
    color: #fed136;
    width: 100%;
    text-align: center;
}

.titles {
    font-weight: bold;
}

#question {
    font-size: 1.4em;
}

#correctAnswer {
    color: green;
    font-weight: bold;
}

#wrongAnswer {
    color: red;
    font-weight: bold;
}

#answers {
    border-top: 2px solid #F0F0F0 !important;
    padding-top: 1.2em;
    padding-bottom: 1em;
}

#user {
    font-size: 1.4em;
}

