@model Integracja.Server.Web.Models.DodajPytaniaViewModel

@{
    ViewData["Title"] = "View";
}
<h1>Dodaj pytania</h1>

<hr />
<div class="row">
    <div class="col-md-3">
        <h2>Kategorie</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td>Matematyka</td>
                </tr>
                <tr>
                    <td>Biologia</td>
                </tr>
                <tr>
                    <td>Fizyka</td>
                </tr>
                <tr>
                    <td>Informatyka</td>
                </tr>
            </tbody>
            
        </table>
    </div>
    <div class="col-md-6">
        <h2>Twoje pytanie</h2>
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewQuestion.Content" class="control-label"></label>
                <input asp-for="NewQuestion.Content" class="form-control" />
                <span asp-validation-for="NewQuestion.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewQuestion.PositivePoints" class="control-label"></label>
                <input asp-for="NewQuestion.PositivePoints" class="form-control" />
                <span asp-validation-for="NewQuestion.PositivePoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewQuestion.NegativePoints" class="control-label"></label>
                <input asp-for="NewQuestion.NegativePoints" class="form-control" />
                <span asp-validation-for="NewQuestion.NegativePoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewQuestion.QuestionScoring" class="control-label"></label>
                <input asp-for="NewQuestion.QuestionScoring" class="form-control" />
                <span asp-validation-for="NewQuestion.QuestionScoring" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewQuestion.IsPublic" class="control-label"></label>
                <input asp-for="NewQuestion.IsPublic" class="form-control" />
                <span asp-validation-for="NewQuestion.IsPublic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewQuestion.CategoryId" class="control-label"></label>
                <input asp-for="NewQuestion.CategoryId" class="form-control" />
                <span asp-validation-for="NewQuestion.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj pytanie" class="yellow-button" />@* btn btn-primary*@
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
