@using Integracja.Server.Web.Areas.Kategorie.Models.CategoryForQuestion
@model CategoryForQuestionViewModel

@section Styles
{
    <link rel="stylesheet" href="~/css/Kategorie/_CategorySelect.css" />
    <link rel="stylesheet" href="~/css/Kategorie/CategoryForQuestion.css" />
    <link rel="stylesheet" href="~/css/Shared/Buttons.css" />
    <link rel="stylesheet" href="~/css/Shared/Inputs.css" />
}

@section Scripts
{
    @* aktywacja DataTables dla tabeli z _CategorySelect *@
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="~/js/Shared/DataTables.js"></script>
}

<div class="container-fluid categoryFor h-100">

    @{ await Html.RenderPartialAsync("~/Views/Shared/Alerts/_AlertsList.cshtml", Model.Alerts);}

    @*wybór i dodawanie kategorii*@
    <p class="title">Wybierz kategorię</p>

    @{ Model.CategorySelectModel.CategorySelected = Model.CategoryFormModel.Category.Id;} @*do kontrolera*@
    @{ await Html.RenderPartialAsync("~/Areas/Kategorie/Views/Shared/_CategorySelectTable.cshtml", Model.CategorySelectModel);}

    <a class="btn btn-primary"
       asp-action="@nameof(ICategoryForQuestionActions.GotoQuestionCreate)"
       asp-route-id="@Model.CategoryFormModel.Category.Id">
        Dalej...
    </a>
    <br /> <br />

    @*dodawanie kategorii*@
    <p class="title">Lub stwórz nową</p>

    @{ await Html.RenderPartialAsync("~/Areas/Kategorie/Views/Shared/_CategoryCreateModal.cshtml", Model.CategoryFormModel);}

</div>
