.questions {
    padding: 2.5em;
    background: #fff;
    border: 1px solid #F0F0F0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#title {
    text-align: center;
    font-size: 2.5em;
    color: #fed136;
}

thead {
    display: none;
}

tr {
    display: block;
    margin-bottom: 0.5rem;
    padding: 1rem 0.5rem 0.5rem 1rem;
}

td {
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
    padding: 0.5rem;
    text-align: left;
    background-color: white;
}

    td:before {
        float: left;
        margin: -0.5rem 0.5rem -0.5rem -0.5rem;
        padding: 0.625rem 0.5rem 0.625rem;
        font-size: 0.75em;
        font-weight: bold;
        color: #707070;
        content: attr(data-label);
    }
