body {
    font-family: Poppins, sans-serif;
    background: #f2f6f8 !important;
}

#content {
    padding: 50px;
    margin: 50px;
    background: #fff;
    border: 1px solid #F0F0F0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#settings {
    background: #fed136;
    border-color: #fed136;
    font-family: Numans, sans-serif;
}
