@using Integracja.Server.Web.Areas.Pytania.Models.Question
@using Integracja.Server.Web.Areas.Pytania.Models.Shared
@using static Integracja.Server.Web.Areas.Pytania.Models.Question.QuestionViewModel
@using static Integracja.Server.Web.Areas.Pytania.Models.Question.IQuestionActions
@using static Integracja.Server.Web.Models.Shared.Enums.ViewMode
@model QuestionViewModel

@{ await Html.RenderPartialAsync("~/Views/Shared/Alerts/_AlertsList.cshtml", Model.Alerts);}

<link rel="stylesheet" href="~/css/Pytania/Question.css" />

<div class="container-fluid dodaj_pytanie mb-5 p-4">

    <h2>Pytanie</h2>
    <br />

    <h4>Kategoria pytania: @Model.Form.Question.CategoryId</h4>
    <br />

    <a class="btn btn-primary"
       asp-action="@nameof(IQuestionActions.QuestionCreateCategoryUpdate)"
       asp-route-categoryId="@Model.Form.Question.CategoryId">
        Zmień kategorię
    </a>
    <br />

    <div class="row">
        <div class="col-md-10">
            @{ await Html.RenderPartialAsync("~/Areas/Pytania/Views/Shared/_QuestionForm.cshtml", Model.Form);
            }
        </div>
    </div>

</div>


