@using Integracja.Server.Web.Areas.Pytania.Models.Question
@using Integracja.Server.Web.Models.Shared.Question
@model QuestionModel

    <div class="row">
        <div class="col-lg-4">
            <div class="card">

                <div class="card">
                    @{ await Html.RenderPartialAsync("~/Areas/Pytania/Views/Shared/_QuestionCard.cshtml", Model); }
                </div>

                <div class="card-footer">
                    <a asp-action="@nameof(IQuestionCardActions.GotoQuestionUpdate)" asp-route-questionId="@Model.Id" class="card-link">Edytuj</a>
                    <a asp-action="@nameof(IQuestionCardActions.GotoQuestionDelete)" asp-route-questionId="@Model.Id" class="card-link">Usuń</a>
                </div>

            </div>
        </div>
    </div>