@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Przeglad</h1>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
    <p> Tutaj będzie podsumowanie gier </p>
</div>