@using Integracja.Server.Web.Areas.Konto.Models
@using static Integracja.Server.Web.Areas.Konto.Models.HomeViewModel
@using static Integracja.Server.Web.Areas.Konto.Models.IHomeActions
@model HomeViewModel

<link rel="stylesheet" href="~/css/konto.css" />

<div class="container-fluid bg-light konto h-100">
    <div class="row h-100">
        <div class="col-xl-5 col-lg-6 col-12 p-4 pt-5 pb-5 pl-5 h-100">
            <img src="@User.FindFirst("ProfilePicture").Value" class="profile_picture d-flex" />
            <div class="form-group">


                <form enctype="multipart/form-data" method="post" asp-action="@NameOfUploadPicture">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <dl>
                        <dt>
                            <label> </label>
                        </dt>
                        <dd>
                            <input asp-for="NewFile.File" name="file" type="file" accept=".jpg, .png">
                        </dd>
                    </dl>
                    <input class="btn" type="submit" value="Upload">
                </form>


            </div>
        </div>
        <div class="col-xl-7 col-lg-6 col-12">

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}