@using Integracja.Server.Web.Areas.TrybyGry.Models.Shared
@model GamemodeFormViewModel

@section Styles
{
    <link rel="stylesheet" href="~/css/TrybyGry/GameMode.css" />
    <link rel="stylesheet" href="~/css/Shared/Buttons.css" />
}

<div class="container-fluid gameMode h-100">

    <p id="title">Tryb gry</p>
    <br />

    @{ await Html.RenderPartialAsync("~/Areas/TrybyGry/Views/Shared/_GamemodeForm.cshtml", Model);}

</div>