@using Integracja.Server.Web.Areas.Pytania.Models.Home
@using static Integracja.Server.Web.Areas.Pytania.Models.Home.HomeViewModel
@using static Integracja.Server.Web.Areas.Pytania.Models.Home.IHomeActions
@model HomeViewModel

@section Styles
{
    <link rel="stylesheet" href="~/css/Shared/TableCardLayout.css" />
}

@section Scripts
{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="~/js/Shared/DataTables.js"></script>
    <script src="~/js/Shared/TableCardLayout.js"></script>
}

<div class="container-fluid questions h-100">

    @{ await Html.RenderPartialAsync("~/Views/Shared/Alerts/_AlertsList.cshtml", Model.Alerts);}

    <p id="title">@Model.Title</p>
    <br />

    @{ await Html.RenderPartialAsync("../Shared/_HomeNavButtons.cshtml"); }

</div>

<br />
<br />

@{ await Html.RenderPartialAsync("../Shared/_QuestionTable.cshtml", Model.QuestionTable); }

<br />

