@using Integracja.Server.Web.Models.Shared.Question
@using Integracja.Server.Web.Models.Shared.Alert
@model QuestionAlert
@{
    if (Model != null && Model.Type != AlertType.None)
    {
        <div class="alert @Model.GetBootstrapClass()" role="alert">
            <strong>
                @Model.Message
            </strong>
        </div>
    }
}