.gameCard {
    background: #fff;
    border: 1px solid #F0F0F0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#back {
    position: absolute;
    left: 67px;
    top: 140px;
}

.status {
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
}

.question {
    font-weight: 500;
}

.title {
    font-size: 2.2em;
    color: #fed136;
    width: 100%;
    text-align: center;
}

.info {
    font-size: 1em;
    padding: 20px 40px;
}

.titles {
    font-weight: bold;
}

p {
    color: #777777;
}

.bord {
    border-bottom: 2px solid #DFDFDF !important;
}