.gameQuestions {
    padding: 2.5em;
    background: #fff;
    border: 1px solid #F0F0F0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#title {
    text-align: center;
    font-size: 2.2em;
    color: #fed136;
}

input[type=checkbox] {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    -ms-transform: scale(0.8); /* IE */
    -moz-transform: scale(0.8); /* FF */
    -webkit-transform: scale(0.8); /* Safari and Chrome */
    -o-transform: scale(0.8); /* Opera */
    transform: scale(0.8);
}