.gameSettings {
    padding: 2.5em;
    background: #fff;
    border: 1px solid #F0F0F0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#title {
    text-align: center;
    font-size: 2.2em;
    color: #fed136;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
    border: 1px solid #fed136 !important;
}

.name {
    max-width: 20em;
}

.titles {
    font-size: 1.3em;
    font-weight: 500;
}

.checkbox {
    width: 13%;
    margin-left: 1px;
}

.startdate {
    margin-right: 21px !important;
}