@using Integracja.Server.Web.Models.Shared.Gamemode
@model GamemodeFormViewModel

<h2>Tryb gry</h2>
<br />

<div class="row">
    <div class="col-md-10">
        @{ await Html.RenderPartialAsync("~/Views/Shared/Gamemode/_GamemodeForm.cshtml", Model);}
    </div>
</div>
