@using Integracja.Server.Web.Areas.TrybyGry.Models.Shared
@using static Integracja.Server.Web.Areas.TrybyGry.Models.Shared.IGamemodeFormActions
@using static Integracja.Server.Web.Models.Shared.Enums.ViewMode
@model GamemodeFormViewModel
<form>
    <div class="form-group">
        <input asp-for="Gamemode.Id" type="hidden" />
    </div>

    <div class="form-group">
        <input asp-for="Gamemode.Name" />
    </div>

    <div class="form-group">
        <h4>Czy publiczny ?</h4>
        <input asp-for="Gamemode.IsPublic" class="form-check" />
    </div>

    <div class="form-group">
        <h4>Czas na quiz</h4>
        <input asp-for="Gamemode.TimeForFullQuiz" type="number" class="form-control input-number" />
        <h4>Czas na jedno pytanie</h4>
        <input asp-for="Gamemode.TimeForOneQuestion" type="number" class="form-control input-number" />
        <h4>Liczba żyć</h4>
        <input asp-for="Gamemode.NumberOfLives" type="number" class="form-control input-number" />
    </div>

    <div class="form-group">
        @if (Model.ViewMode == Creating)
        {
            <button type="submit" class="btn btn-primary" asp-action="@nameof(IGamemodeFormActions.GamemodeCreate)">
                Stwórz
            </button>
        }
        else if (Model.ViewMode == Updating)
        {
            <button type="submit" class="btn btn-primary" asp-action="@nameof(IGamemodeFormActions.GamemodeUpdate)">
                Zaaktualizuj    
            </button>
        }
    </div>
</form>