@using Integracja.Server.Web.Areas.TrybyGry.Models.Shared
@using static Integracja.Server.Web.Areas.TrybyGry.Models.Shared.IGamemodeFormActions
@using static Integracja.Server.Web.Models.Shared.Enums.ViewMode
@model GamemodeFormViewModel
<form>
    <div class="form-group">
        <input asp-for="Gamemode.Id" type="hidden" />
    </div>

    <div class="row form-group">
        <div class="col-6 pr-5">
            <div class="float-right">
                <div class="row mb-3">
                    <div class="col-6">
                        <p class="titles m-0"> Nazwa trybu: </p>
                    </div>
                    <div class="col-6 p-0 d-flex flex-column justify-content-center">
                        <input asp-for="Gamemode.Name" class="form-control name" />
                        <span asp-validation-for="Gamemode.Name" class="text-danger" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6 pr-0">
                        <p class="titles float-left m-0"> Czy publiczny? </p>
                    </div>
                    <div class="col-6 p-0 d-flex flex-column justify-content-center">
                        <input asp-for="Gamemode.IsPublic" class="form-control checkbox float-left" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-6">
                        <p class="titles m-0"> Liczba żyć: </p>
                    </div>
                    <div class="col-6 p-0 d-flex flex-column justify-content-center">
                        <input asp-for="Gamemode.NumberOfLives" type="number" class="form-control input-number" />
                    </div>
                </div>

                <div>
                    @if (Model.ViewMode == Creating)
                    {

                        <button type="submit" class="btn btn-primary mt-4" asp-action="@nameof(IGamemodeFormActions.GamemodeCreate)">
                            Stwórz
                        </button>

                    }
                    else if (Model.ViewMode == Updating)
                    {
                        <button type="submit" class="btn btn-primary mt-4" asp-action="@nameof(IGamemodeFormActions.GamemodeUpdate)">
                            Zaktualizuj
                        </button>
                    }
                </div>

            </div>
        </div>

        <div class="col-6">

            <div class="row mb-3">
                <div class="mr-3">
                    <p class="titles"> Czas na jedno pytanie: </p>
                </div>
                <div>
                    <input asp-for="Gamemode.TimeForOneQuestion" type="number" class="form-control input-number" />
                </div>
            </div>

            <div class="row mb-3">
                <div class="mr-3">
                    <p class="titles"> Czas na quiz: </p>
                </div>
                <div>
                    <input asp-for="Gamemode.TimeForFullQuiz" type="number" class="form-control input-number" />
                </div>
            </div>

        </div>
    </div>


</form>