@using Integracja.Server.Web.Areas.TrybyGry.Models.Shared
@using static Integracja.Server.Web.Areas.TrybyGry.Models.Shared.IGamemodeFormActions
@using static Integracja.Server.Web.Models.Shared.Enums.ViewMode
@model GamemodeFormViewModel
<form>
    <div class="form-group">
        <input asp-for="Gamemode.Id" type="hidden" />
    </div>

    <div class="row">
        <div class="col-md-3 form-group">
            <h4>Nazwa trybu</h4>
            <input asp-for="Gamemode.Name" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 form-group">
            <h4>
                Czy publiczny ?
            </h4>
            <div class="">
                <input asp-for="Gamemode.IsPublic" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 form-group">
            <h4>Liczba żyć</h4>
            <input asp-for="Gamemode.NumberOfLives" type="number" class="form-control form-control-lg input-number" />
            <h4>Czas na quiz</h4>
            <input asp-for="Gamemode.TimeForFullQuiz" type="number" class="form-control form-control-lg input-number" />
            <h4>Czas na jedno pytanie</h4>
            <input asp-for="Gamemode.TimeForOneQuestion" type="number" class="form-control form-control-lg input-number" />
        </div>
    </div>


    <div class="form-group">
        @if (Model.ViewMode == Creating)
        {
            <button type="submit" class="btn btn-primary" asp-action="@nameof(IGamemodeFormActions.GamemodeCreate)">
                Stwórz
            </button>
        }
        else if (Model.ViewMode == Updating)
        {
            <button type="submit" class="btn btn-primary" asp-action="@nameof(IGamemodeFormActions.GamemodeUpdate)">
                Zaaktualizuj
            </button>
        }
    </div>
</form>