@using Integracja.Server.Web.Areas.Gry.Models.Shared
@using static Integracja.Server.Web.Models.Shared.Time.TimeHelper
@model GameCardViewModel


<div class="card-body">

    <div class="text-center">

        @{ await Html.RenderPartialAsync("~/Areas/Gry/Views/Shared/_GameSettings.cshtml", Model.Game.Settings); }

        <h3>Kod zaproszeniowy</h3>
        <div id="qrCode" style="display: inline-block"></div>
        <br />
        <br />

        <h3>Pytania</h3>
        <br />

    </div>

    <div class="container">
        @foreach (var question in Model.Game.Questions)
        {
            <div class="container border-bottom">
                @{ await Html.RenderPartialAsync("~/Areas/Pytania/Views/Shared/_QuestionItem.cshtml", question); }
            </div>
            <br />
        }
    </div>
</div>

<script type="text/javascript" src="~/lib/qrcode/qrcode.min.js"></script>
<script type="text/javascript">
        new QRCode(document.getElementById("qrCode"),
            {
                text: "@Html.Raw(Model.Game.Guid)",
                width: 250,
                height: 250
            });
</script>