@using Integracja.Server.Web.Areas.Gry.Models.Shared
@model GameSettingsFormViewModel

@*Pozostałe proste parametry gry*@

<form>
    <input type="hidden" asp-for="Settings.Gamemode.Id" />

    <h4>Nazwa gry</h4>
    <div class="form-group">
        <input asp-for="Settings.Name" />
        <span asp-validation-for="Settings.Name" class="text-danger"></span>
    </div>

    <h4>Czas rozpoczęcia</h4>
    <div class="form-group">
        <input asp-for="Settings.StartTime" value="@DateTime.Now" />
    </div>


    <h4>Czas zakończenia</h4>
    <div class="form-group">
        <input asp-for="Settings.EndTime" value="@DateTime.Now" />
    </div>

    <h4>Losować kolejność pytań?</h4>
    <div class="form-group">
        <input asp-for="Settings.RandomizeQuestionOrder" type="checkbox"/>
    </div>

    <h4>Maksymalna liczba graczy</h4>
    <div class="form-group">
        <input asp-for="Settings.MaxPlayersCount" type="number" />
    </div>

    <button type="submit" class="btn btn-primary"
            asp-action="@nameof(IGameSettingsFormActions.GameSettingsCreate)">
        Zatwierdź ustawienia
    </button>

</form>


