@using Integracja.Server.Web.Areas.Gry.Models.Shared

<div class="container-fluid">
    <a asp-action="@nameof(IHomeNav.CurrentGames)" class="btn btn-primary">Aktualne gry</a>
    <a asp-action="@nameof(IHomeNav.EndedGames)" class="btn btn-primary">Zakończone gry</a>
    <a asp-action="@nameof(IHomeNav.GotoGameCreate)" class="btn btn-primary">Stwórz nową grę</a>
</div>
