@using Integracja.Server.Web.Areas.Gry.Models.Shared
@using Integracja.Server.Web.Areas.Gry.Controllers
@model GameCardViewModel

@section Scripts
{
    <script src="~/js/Shared/CountdownTimer.js"></script>
}

<div class="card">

    <div>
        <a href="@Url.Action(nameof(IHomeNav.CurrentGames),HomeController.Name)">Wróć</a>
    </div>

    @{ await Html.RenderPartialAsync("~/Areas/Gry/Views/Shared/_GameCard.cshtml", Model);}
</div>