@using Integracja.Server.Web.Areas.Gry.Models.Shared
@model GameSettingsFormViewModel

@section Styles
{
    <link rel="stylesheet" href="~/css/Gry/GameSettings.css" />
    <link rel="stylesheet" href="~/css/Shared/Buttons.css" />
}

<div class="container-fluid gameSettings h-100">

    <p id="title">Ustawienia gry</p>
    <br />

    @{ await Html.RenderPartialAsync("~/Areas/Gry/Views/Shared/_GameSettingsForm.cshtml", Model);}

</div>