@using Integracja.Server.Web.Areas.Gry.Models.Shared
@using Integracja.Server.Web.Areas.Gry.Controllers
@model GameCardViewModel

@section Scripts
{
    <script src="~/js/Shared/CountdownTimer.js"></script>
}

<link rel="stylesheet" href="~/css/Gry/_GameCard.css" />
<link rel="stylesheet" href="~/css/Shared/Buttons.css" />


    <a id="back" class="btn btn-primary" href="@Url.Action(nameof(IHomeNav.CurrentGames),HomeController.Name)">Wróć</a>


@{ await Html.RenderPartialAsync("~/Areas/Gry/Views/Shared/_GameCard.cshtml", Model);}