@using Integracja.Server.Web.Areas.Gry.Models.Shared
@model GameQuestionsFormViewModel

@section Scripts {

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="~/js/Shared/DataTables.js"></script>
    <script src="~/js/Gry/_GameQuestionsForm.js"></script>
    <script src="~/js/Shared/TableCardLayout.js"></script>
}

@section Styles
{
    @*<link rel="stylesheet" href="~/css/Shared/TableCardLayout.css" />*@
    <link rel="stylesheet" href="~/css/Gry/GameQuestions.css" />
    <link rel="stylesheet" href="~/css/Shared/Buttons.css" />
}

<div class="container-fluid gameQuestions h-100">
    @{ await Html.RenderPartialAsync("~/Areas/Gry/Views/Shared/_GameQuestionsForm.cshtml", Model);}
</div>