@using Integracja.Server.Web.Areas.Gry.Models.Shared
@model GameSettingsFormViewModel

<div class="col-md-10">
    @{ await Html.RenderPartialAsync("~/Areas/Gry/Views/Shared/_GameSettingsForm.cshtml", Model);}
</div>