@using Integracja.Server.Web.Areas.PanelAdmina.Models.Home
@model HomeViewModel
<h1>Panel admina</h1>
<br />


<div class="row col-12">

    <div class="card col-2">
        <a asp-action="@nameof(IHomeActions.GotoKategorieAdminHome)" class="btn btn-primary">Kategorie</a>
    </div>

    <div class="card col-2">
        <a asp-action="@nameof(IHomeActions.GotoPytaniaAdminHome)" class="btn btn-primary">Pytania</a>
    </div>

</div>

<br />
