@using Integracja.Server.Web.Areas.Kategorie.Models.MyCategories
@model MyCategoriesViewModel

<h2>Moje kategorie</h2>
<br />

@{ await Html.RenderPartialAsync("~/Areas/Kategorie/Views/Shared/_CategoryTable.cshtml", Model.Categories); }

<br />

@{ await Html.RenderPartialAsync("~/Areas/Kategorie/Views/Shared/_CategoryFormModal.cshtml", Model.Form);}