@using Integracja.Server.Web.Areas.Kategorie.Models.MyCategories
@model MyCategoriesViewModel

<link rel="stylesheet" href="~/css/Kategorie/MyCategories.css" />
<link rel="stylesheet" href="~/css/Shared/Inputs.css" />

<div class="container-fluid categories h-100">

    <p id="title">Moje kategorie</p>
    <br />

    @{ await Html.RenderPartialAsync("~/Areas/Pytania/Views/Shared/_HomeNavButtons.cshtml"); }
    
    <br />

    @{ await Html.RenderPartialAsync("~/Areas/Kategorie/Views/Shared/_CategoryTable.cshtml", Model.Categories); }

    <br />

    @{ await Html.RenderPartialAsync("~/Areas/Kategorie/Views/Shared/_CategoryCreateModal.cshtml", Model.Form);}

</div>