@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generowanie kodów odzyskujących dwuskładnikowego uwierzytelniania";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Umieść te kody w jakimś bezpiecznym miejscu.</strong>
    </p>
    <p>
        Zgubienie urządzenia oraz brak kodów odzyskujących będzie skutkowało utratą dostępu do konta.
    </p>
    <p>
        Wygenerowanie nowych kodów odzyskujących nie zmieni kluczy uwierzytelniających używanych w aplikacji. Jeśli chcesz
        zmienić klucze uwierzytelniające powinieneś <a asp-page="./ResetAuthenticator">Zresetuj twoje klucze uwierzytelniające.</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Wygeneruj kody odzyskujące</button>
    </form>
</div>