@using Integracja.Server.Web.Areas.Pytania.Models.MyCategory
@model MyCategoryViewModel

<link rel="stylesheet" href="~/css/Pytania/MyCategory.css" />

<div class="container-fluid myCategory h-100">

    <p id="title">Pytania z kategorii</p>
    <br/>

    @{ await Html.RenderPartialAsync("../Shared/_HomeNavButtons.cshtml"); }
    <br/>

    @{ await Html.RenderPartialAsync("../Shared/_QuestionTable2.cshtml", Model.Questions); }

</div>