@using Integracja.Server.Web.Areas.Pytania.Models.MyCategory
@model MyCategoryViewModel

@{ await Html.RenderPartialAsync("~/Views/Shared/Alerts/_AlertsList.cshtml", Model.Alerts);}

@{ await Html.RenderPartialAsync("../Shared/_HomeNavButtons.cshtml"); }

<h2>Pytania z kategorii</h2>

@{ await Html.RenderPartialAsync("../Shared/_QuestionTable.cshtml", Model.Questions); }