@using Integracja.Server.Web.Areas.Pytania.Models.MyCategory
@model MyCategoryViewModel

<h2>Pytania z kategorii</h2>

@{ await Html.RenderPartialAsync("../Shared/_QuestionTable.cshtml", Model.Questions); }